.insertTop {
	grid-area: insert-top;
}

.insertBottom {
	grid-area: insert-bottom;
}

.content {
	grid-area: content;
}

.layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	gap: 0;
	grid-template-areas:
		"insert-top"
		"content"
		"insert-bottom";
}
