.layout {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	gap: 0;
	grid-template-areas:
		".           insert-top    .           "
		"insert-left family        insert-right"
		".           insert-bottom .           ";
	align-items: start;
}

.family {
	grid-area: family;
}

.insertLeft {
	grid-area: insert-left;
	margin-right: 16px;
}

.insertRight {
	grid-area: insert-right;
	margin-left: 16px;
}

.insertTop {
	grid-area: insert-top;
	margin-bottom: 8px;
}

.insertBottom {
	grid-area: insert-bottom;
	margin-top: 8px;
}

.familyLayout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: 0px 16px;
	grid-template-areas:
		"header"
		"children";
	width: fit-content;
}

.header {
	grid-area: header;
}

.children {
	grid-area: children;
}

.self {
	grid-area: self;
}

.expand {
	grid-area: expand;
}

.collapsedLayout {
	display: grid;
	gap: 8px 16px;
	align-items: start;
	grid-auto-flow: row;
}

.expandedLayout {
	display: grid;
	gap: 8px 16px;
	justify-items: start;
	grid-auto-flow: column;
}
