.bodyLayout {
	width: 100%;
	height: 100vh;
	padding: 8px;
	display: grid;
	grid-template-columns: minmax(256px, auto) 160px 1fr;
	grid-template-rows: 40px 1fr;
	gap: 8px;
	grid-template-areas:
		"title data-status ."
		"main main main";
}

.title {
	grid-area: title;
}

.fileUpload {
	grid-area: file-upload;
}

.export {
	grid-area: export;
}

.main {
	grid-area: main;
}
