.layout {
	display: grid;
	grid-template-columns: 1fr 16px;
	grid-template-rows: 1fr;
	gap: 0;
	width: fit-content;
	grid-template-areas: "content expand";
}

.content {
	grid-area: content;
}

.expand {
	grid-area: expand;
}

.collapsedLayout {
	display: grid;
	gap: 0px;
	align-items: start;
	justify-items: start;
	grid-auto-flow: row;
	place-content: start;
}

.expandedLayout {
	display: grid;
	gap: 0px;
	align-items: start;
	justify-items: start;
	grid-auto-flow: column;
	place-content: start;
}
